body {
    background-color: lightsteelblue
}
h1 {
    color: navy;
    margin-left: 20px;
    text-align: center;
}
#frontpageimg, img {
    width : 100%;
    height: 90%;
}
.button-container {
    width: 100%;
    display: flex;
}

#rep, button {
    flex: 1;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    color: white;
    transition: background-color 0.3s;
    background-color: red;
}
#dem, button {
    flex: 1;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    color: white;
    transition: background-color 0.3s;
    background-color: blue;
}
button:hover {
    background-color: #b30083;
}


#rep + #dem {
    margin-left: 2px;
}





