body {
    background-color: lightsteelblue
}
h1 {
    color: navy;
    margin-left: 20px;
    text-align: center;
}
#frontpageimg, img {
    width : 100%;
    height: 90%;
}
.button-container {
    width: 100%;
    display: flex;
}

#rep, button {
    flex: 1;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    color: white;
    transition: background-color 0.3s;
    background-color: red;
}
#dem, button {
    flex: 1;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    color: white;
    transition: background-color 0.3s;
    background-color: blue;
}
button:hover {
    background-color: #b30083;
}


#rep + #dem {
    margin-left: 2px;
}

#repbox{
    height: 50px;
    width: 50px;
    background-color: red;

}
#dembox{
    height: 50px;
    width: 50px;
    background-color: blue;

}
/* @media will adjust the display depending on the device screen size*/
@media (max-width: 768px) {
    #dem {
        font-size: 16px;
        padding: 15px;
    }
    #rep {
        font-size: 16px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    #dem {
        font-size: 14px;
        padding: 10px;
    }
    #rep {
        font-size: 14px;
        padding: 10px;
    }
}



